/*    The Sad Hatters: Annabel Zhang, Noakai Aronesty<br>
    SoftDev<br>
    SoftDev K22 -- Who Does Frame Work For?<br>
    2021-11-30<br>
    time spent: 2h
*/

* {
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}